
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

:root {
  --menu-bc:#002245;
  --color-first:#002245;
  --color-second:#f0f0f9;
  --color-third:#00FF60;

  --bc:#f0f0f9;
}
html,
body {
  font-family: 'Mulish', sans-serif;
  overflow-x:hidden;
  background-color: var(--menu-bc);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
