
.siteJob{
  width: 40px;
  align-items: center;
  position: fixed;
  top: 60%;
  right: 0;
  background-color: rgb(255, 255, 255);
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);
}
.jobs{
  list-style: none;
}
.job{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms linear;
}
.job:hover{
  /* background-color: rgb(44, 157, 255); */
  background-color: var(--color-third);
}
.job__link{
  color: var(--color-third);
  text-decoration: none;
  border-top-left-radius:10px;
}
.job1{
  border-top-left-radius:10px;
}
.job3{
  border-bottom-left-radius:10px;
}



